*{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
  padding:0;
  font-family: sans-serif;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

span {
  color: #1C6DD0;
  font-weight: bolder;
}

.container {
  margin-inline: auto;
  width: 1200px;
}

/* Nav  */
nav {
  background-color: #1C6DD0;
  color: #fff;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  transition: 0.5s;
}

nav.active {
  top: -80px;
}

nav .container {
  display: flex;
  padding-block: 10px;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

nav #burger-button {
  display: none;
}

nav nav div {
  background-color: #00306b;
  height: 100%;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul li button {
  font-weight: bold;
  background-color: #094186;
  color: white;
  border-radius: 30px;
  width: 100px;
  height: 30px;
  font-size: .8rem;
  cursor: pointer;
  border: none;
  transition: 0.5s;
}

nav ul li button:hover,
nav ul li button:active {
  background-color: #dbebff;
  color: black;
}

nav li {
  list-style: none;
}

/* Header */

header {
  background-color: #3674B5;
  color: #fff;
}

header .container {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 2rem;
}

header span {
  color: black;
}

/* About Me */

#about-me .container {
  display: flex;
  align-items: center;
  padding-block: 80px;
  gap: 100px;
}

#about-me img {
  width: 400px;
  height: 400px;
}

#about-me h1 {
  font-size: 3rem;
}

#about-me p {
  font-size: 1.2rem;
}

/* My-Skills */

#my-skills {
  background-color: #3674B5;
  padding: 500
}

/* Footer */

footer {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: #262626;
  color: #fff;
}


/* Media Queries */
@media screen and (max-width: 1400px) {
  .container {
    width: 960px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 100%;
  }

  #nav-links div {
    height: 100%;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #nav-links div svg {
    display: block;
    height: 50px;
    width: 50px;  

  }

  #nav-links ul {
    display: none;
  }

  #about-me .container {
    flex-flow: column;
    gap: 10px;
  }
}